# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
notebook-service/.venv/
docs/

# Runtime test data
notebook-service/data/
runtime-service/data

# Frontend
portal-web/node_modules/
portal-web/dist/

# macOS
.DS_Store